/* Scss Document */

$primary: #E65C24;
$secondary: #999;

@import  url("//hello.myfonts.net/count/2d5536");
@font-face {font-family: 'Sica-SemiBoldItalic';src: url('../fonts/webfonts/2D5536_0_0.eot');src: url('../fonts/webfonts/2D5536_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_0_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_0_0.woff') format('woff'),url('../fonts/webfonts/2D5536_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-SemiBold';src: url('../fonts/webfonts/2D5536_1_0.eot');src: url('../fonts/webfonts/2D5536_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_1_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_1_0.woff') format('woff'),url('../fonts/webfonts/2D5536_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-Light';src: url('../fonts/webfonts/2D5536_2_0.eot');src: url('../fonts/webfonts/2D5536_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_2_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_2_0.woff') format('woff'),url('../fonts/webfonts/2D5536_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-Regular';src: url('../fonts/webfonts/2D5536_3_0.eot');src: url('../fonts/webfonts/2D5536_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_3_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_3_0.woff') format('woff'),url('../fonts/webfonts/2D5536_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-LightItalic';src: url('../fonts/webfonts/2D5536_4_0.eot');src: url('../fonts/webfonts/2D5536_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_4_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_4_0.woff') format('woff'),url('../fonts/webfonts/2D5536_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-RegularItalic';src: url('../fonts/webfonts/2D5536_5_0.eot');src: url('../fonts/webfonts/2D5536_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_5_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_5_0.woff') format('woff'),url('../fonts/webfonts/2D5536_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-ExtraLightItalic';src: url('../fonts/webfonts/2D5536_6_0.eot');src: url('../fonts/webfonts/2D5536_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_6_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_6_0.woff') format('woff'),url('../fonts/webfonts/2D5536_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-ExtraLight';src: url('../fonts/webfonts/2D5536_7_0.eot');src: url('../fonts/webfonts/2D5536_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_7_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_7_0.woff') format('woff'),url('../fonts/webfonts/2D5536_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-ExtraBoldItalic';src: url('../fonts/webfonts/2D5536_8_0.eot');src: url('../fonts/webfonts/2D5536_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_8_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_8_0.woff') format('woff'),url('../fonts/webfonts/2D5536_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-ExtraBold';src: url('../fonts/webfonts/2D5536_9_0.eot');src: url('../fonts/webfonts/2D5536_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_9_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_9_0.woff') format('woff'),url('../fonts/webfonts/2D5536_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-BoldItalic';src: url('../fonts/webfonts/2D5536_A_0.eot');src: url('../fonts/webfonts/2D5536_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_A_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_A_0.woff') format('woff'),url('../fonts/webfonts/2D5536_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Sica-Bold';src: url('../fonts/webfonts/2D5536_B_0.eot');src: url('../fonts/webfonts/2D5536_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_B_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_B_0.woff') format('woff'),url('../fonts/webfonts/2D5536_B_0.ttf') format('truetype');}