/* Scss Document */

$color-primary: #E65C24;
$color-secondary: #646463;
$color-white: #FFFFFF;
$color-border:#979797;
$color-lightGray: #F6F6F6;
$color-lightOrange: #F6A285;

$font-primary: Sica-Regular, sans-serif;
$font-primaryLight: Sica-Light, sans-serif;
$font-secondary: arial, sans-serif;
$main-header-size: 48px;
$secondary-header-size: 18px;
$main-paragraph-size: 16px;
$main-header-size-mobil: 28px;
$secondary-header-size-mobil: 16px;
$main-paragraph-size-mobil: 14px;
$paddingArticle-mobil: 20px;


