/* Scss Document */
@import  url("//hello.myfonts.net/count/2d5536");
@font-face {font-family: 'Sica-Bold';src: url('../fonts/webfonts/2D5536_B_0.eot');src: url('../fonts/webfonts/2D5536_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_B_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_B_0.woff') format('woff'),url('../fonts/webfonts/2D5536_B_0.ttf') format('truetype');}
@font-face {font-family: 'Sica-Regular';src: url('../fonts/webfonts/2D5536_3_0.eot');src: url('../fonts/webfonts/2D5536_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_3_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_3_0.woff') format('woff'),url('../fonts/webfonts/2D5536_3_0.ttf') format('truetype');}
 
@import "compass/css3";
@import "variables";
@import "mixins";

h1{
	font-family: $font-primary;
	color: $color-primary;
}
.test {
	background: $color-secondary;
}
.navbar {
    min-height: 100px;
	background: $color-primary;
	
}
header .fullheight {
  background: url("../images/mobilPlus-nyitokep.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#nav {
	z-index: 100;	
}
.mainheight {
	min-height:600px;	
}
ul.navbar-nav {
	a {
	&.active {
		background-color: #fff !important;
    	color: $color-primary;
          }
		 }
		 }
