/* Scss Document */
 @font-face {
  font-family: 'Luengo';
  src: url('../fonts/The-Northern-Block-Ltd-Luengo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/The-Northern-Block-Ltd-Luengo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/The-Northern-Block-Ltd-Luengo.woff') format('woff'), /* Modern Browsers */
       url('../fonts/The-Northern-Block-Ltd-Luengo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/The-Northern-Block-Ltd-Luengo.svg#d0364fba04c2297f66af158778a565b4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@import "compass/css3";
@import "variables";
@import "mixins";


    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }


body {
	opacity: 1;
}

body.body-animate {
	opacity: 0;
}
.fade-in {
	opacity:0;
}

.clear {
	clear: both;
}
a {
	color: $color-primary;
}
a:hover {
	color: $color-secondary;
	text-decoration: none;
}
h1, h2, p {
	text-align: center;
}
h1{
	font-family: $font-primary;
	color: $color-primary;
	font-size: $main-header-size;
	margin-bottom: 0px;
	margin-top: 0;
}
h2 {
	font-family: $font-primary;
	font-size: $secondary-header-size;
	color: $color-secondary;
	margin-top: 8px;
	margin-bottom: 40px;
}
p {	
	font-family: $font-secondary;
	font-size: $main-paragraph-size;
	color: $color-secondary;
	line-height: 22px;
}
/*carusel typo*/
.carousel-caption {
font-family: $font-primary;
text-shadow: none;
right: 7%;
left: 7%;
text-align: right;
	h3{
font-size: 64px !important;
	}
}

.carousel-indicators {
    bottom: 10px;
}


.paddingZero {
	padding:0px;	
}
.paddingTop {
	padding-top: 50px;
	float: none;
	clear: both;	
}


ul.gallery li.marginLiBottom {
	margin-bottom: 0px !important;
}
.paddingTop {
	padding-top: 40px;
}



.phone {
		background: url("../images/mobilPlus-phoneIcon.svg");
		margin-right: 7px;
}
.tablet {
		background: url("../images/mobilPlus-tabletIcon.svg");
}
.test {
	background: $color-secondary;
}
.navbar {
    min-height: 120px;
	background: $color-white;
}

header .fullheight {
  background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheight.event {
   background: url("../images/feeling/varion-feeling-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheightEvent{
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/*carousel*/
.openingheader {
	z-index: 14;
	position: absolute;
	text-align: center;
	display: table;
	width: 100%;
	}
#carousel-example-generic .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
  z-index: 999;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#nav {
	z-index: 100;	
}
.navbar {
    margin-bottom: 0px;
    border: none;
	border-radius: 0px;
	.fixed {
	top: 0px;
	left: 0px;
	position: fixed;
	}
	.default {
		position: relative;
	}
}
.mainheight {
	min-height:600px;	
}
.navbar-brand {
	padding: 0;
	margin:0 !important;
height: 120px;
width: 167px;
}
.navbar-default .navbar-nav > li > a {
    color: $color-lightOrange;
	font-family: $font-primary;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}
ul.navbar-nav {
	a {
	&.active {
		background-color: #fff !important;
    	color: $color-primary;
          }
		 }
		 }
address, label {
	color: $color-secondary;
}

.navbar-default  {
	 .phoneNumber {
	font-size: $secondary-header-size;
	color: $color-primary;
	font-family: $font-primary;
	display: inline-block;
	width: 80%;
	text-align: right;
	margin-top: 50px;
	margin-bottom: 5px;
	 }
	 	a.iconSocial{
		padding:14px;
		margin-right: 5px;
	}
	.iconFacebook{
	background-repeat: no-repeat;
	 background-position: center center;
	}
	.iconPhone{
	 background: url("../images/varion-circle.svg");
	background-repeat: no-repeat;
	 background-position: right 24px;
	}
}
.form-control:focus {
border-color: $color-primary;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(241, 100, 52, 0.6);
}
label {
	font-weight: normal;
	color: #999;	
}
#welcome, #link2, #link3, #link4, #link5, #link6, #link7, #link8, .whyBgImage, .bg-lightGray {
	opacity: 0; 
}

#welcome.fade-in, #link2.fade-in, #link3.fade-in, #link4.fade-in, #link5.fade-in, #link6.fade-in, #link7.fade-in, #link8.fade-in, .whyBgImage.fade-in, .bg-lightGray.fade-in {
	opacity: 1;
	animation: opacityAnimate 1s 1 ease-in-out;
	-webkit-animation: opacityAnimate 1s 1 ease-in-out;
	-moz-animation: opacityAnimate 1s 1 ease-in-out;
	-o-animation: opacityAnimate 1s 1 ease-in-out;
}

@keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes opacityAnimate {
	from { opacity: 0; }
	to { opacity: 1; }
}
@media (max-width: 768px) {
	
	.navbar-toggle {
		margin-top: 17px;
	}
	
	.navbar {
    min-height: 60px;
	}
	
	.navbar-brand {
height: 72px;
width: 100px;
margin: -3px 0 0px 15px !important;
}

.carousel-indicators {
    bottom: 5px;
}
.carousel-caption {
	text-align: center;
	right: 5%;
	left: 5%;
h3 {
	font-size: 36px !important;
}
}
	.hgroup {
		.paddingArticleBottom {
			padding-bottom: 40px;
		}
	h3 {
		margin-bottom: 5px;	
		background-color: rgba(0, 0, 0, 0.3);
	}
}
.shBox {
	background: url("../images/mobilPlus-brandBig-eng-sh.png");
	background-repeat: no-repeat;
	background-size: 223px 138px;
}
.tagsWord {
	ul {
		@include paddingMarginZero;
		list-style: none;	
		text-align: center;
	}
	li {
	padding: 8px 15px 6px 15px;
	margin: 7px 0px;
	display: block;
	width: 100%
	}
	li:last-child{
		margin-bottom:0px;
	}
}
.paddingZero {
	padding:0px;	
}
	header .fullheight {
	background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: -40px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
	}
	header .fullheight.event {
   background: url("../images/mobilPlus-EventBgImage01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheightEvent{
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.lastItem {
	margin-bottom: $paddingArticle-mobil !important;
	}
.paddingArticle{
	padding-top: $paddingArticle-mobil;
	padding-bottom: $paddingArticle-mobil;
}
.paddingArticleTop{
	padding-top: $paddingArticle-mobil;
}
.paddingArticleBottom, .paddingArticleBottomSmaller{
	padding-bottom: $paddingArticle-mobil;
}
h1{
	font-size: $main-header-size-mobil;
}
h2 {
	font-size: $secondary-header-size-mobil;
	margin-top: 7px;
	margin-bottom: 15px;
}
p {	
	font-size: $main-paragraph-size-mobil;
	line-height: 20px;
}
.iconPadding {
	margin-top: $paddingArticle-mobil;
	margin-bottom: $paddingArticle-mobil;
}
.bg-orange {
	h3 {
	margin-top: $paddingArticle-mobil;
	margin-bottom: $paddingArticle-mobil;
	}
	p{
		width: 100%;
	}
	.shift {
    margin-top: $paddingArticle-mobil;
}
}
.paddingTop {
    padding-top: $paddingArticle-mobil;
}

ul.gallery  {
	li {
		margin-bottom: $paddingArticle-mobil;
	}
	li:last-child{
		margin-bottom:0px !important;
	}
}
ul.gallery li.marginLiBottom {
	margin-bottom: $paddingArticle-mobil !important;
}
.marginProductWireframe {
    margin-top: 0px;
}
footer {
	min-height: 60px;
	p {
	text-align: center;
	margin-top: 0;
	}
	.brandCenterPhone, .socialCenterPhone{
		display: block; 
		text-align:center; 
	}
	.socialCenterPhone{
		margin-bottom: 10px;
	}
	.brandSmall{
	float: none;
	margin-right: 0;
	}
	.footerRight {
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 10px;
	}
	.language {
	border: 1px solid $color-white;
	padding: 7px 2px 7px 2px;
	display:block;
	width: 150px;
	margin: 0px auto 15px auto;
	font-size: 16px;
	}
}
}
@media (min-width: 768px) and (max-width: 991px) {
	ul.gallery li.marginLiBottom {
	margin-bottom: 30px !important;
}
.navbar {
    min-height: 110px;
	}
.navbar-brand {
	padding: 0;
	margin:5px !important;
height: 20px;
width: 130px;
}
}
@media (min-width: 321px) and (max-width: 700px) {
header .fullheight {
  background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: -150px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheight.event {
   background: url("../images/mobilPlus-EventBgImage01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheightEvent{
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
}
@media (min-width: 480px) and (max-width: 767px) {
header .fullheight {
  background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheight.event {
   background: url("../images/mobilPlus-EventBgImage01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .fullheightEvent{
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
}

@media (min-width: 321px) and (max-width: 767px) {
#link5 .col-xs-12{
    width: 50%;
}
	.hgroup {
		text-align: center;
		.paddingArticleBottom {
			padding-bottom: 20px;
		}
	h3 {
		margin-bottom: 5px;	
		display: inline-block;
	}
	a {
		width: 230px
	}
}

.flexslider .slides li {
    width: 240px !important;
    float: left;
    display: block;
}

}

