/* Scss Document */
@import  url("//hello.myfonts.net/count/2d5536");
@font-face {font-family: 'Sica-Bold';src: url('../fonts/webfonts/2D5536_B_0.eot');src: url('../fonts/webfonts/2D5536_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_B_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_B_0.woff') format('woff'),url('../fonts/webfonts/2D5536_B_0.ttf') format('truetype');}
@font-face {font-family: 'Sica-Regular';src: url('../fonts/webfonts/2D5536_3_0.eot');src: url('../fonts/webfonts/2D5536_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_3_0.woff2') format('woff2'),url('../fonts/webfonts/2D5536_3_0.woff') format('woff'),url('../fonts/webfonts/2D5536_3_0.ttf') format('truetype');}
@font-face {font-family: 'Sica-Light';src: url('../fonts/webfonts/2D5536_2_0.eot');src: url('../fonts/webfonts/2D5536_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/2D5536_2_0.woff2') format('woff2'),url('../fonts/	webfonts/2D5536_2_0.woff') format('woff'),url('webfonts/2D5536_2_0.ttf') format('truetype');}
 
@import "compass/css3";
@import "variables";
@import "mixins";

a {
	color: $color-primary;
}
h1, h2, p {
	text-align: center;
}
h1{
	font-family: $font-primary;
	color: $color-primary;
	font-size: $main-header-size;
	margin-bottom: 0px;
	margin-top: 0;
}
h2 {
	font-family: $font-primary;
	font-size: $secondary-header-size;
	color: $color-secondary;
	margin-top: 8px;
}
p {	
	font-family: $font-secondary;
	font-size: $main-paragraph-size;
	color: $color-secondary;
	line-height: 22px;
}
.paddingTop {
	padding-top: 50px;
	float: none;
	clear: both;	
}
.iconPadding {
	margin-top:100px;
	margin-bottom: 30px;	
}
.label-small {
	border: 1px solid $color-border;
	background-color: transparent;
	border-radius: 0px;
	color: $color-secondary;
	font-size: 14px;
	font-family: $font-primary;
	padding: 6px 15px 7px 15px;
	line-height: 3;
}
.bg-orange{
	background: $color-primary;
		h1 {
			color: $color-white;
	}
		p {
			color: $color-white;
			width: 360px;
			margin: 0 auto;
		}
		h3 {
			border: 1px solid $color-white;
			font-family: $font-primary;
			font-size: 20px;
			font-weight: bold;
			color: $color-white;
			display: block;
			padding: 13px 0px;
			text-align: center;
			margin: 0 auto;
			width: 165px;
			text-transform: uppercase;
		}
		ul {
			padding: 0;
			list-style: none;
		}
		li {
			color: $color-white;
			text-indent:0.4em;
			background: url(../images/mobilPlus-check.svg);
			background-position:0 2px;
			background-repeat:no-repeat;
			font-family: $font-primary;
			font-size: 14px;
			padding: 0.15em 0 0.5em 1.5em;

		}
}
ul.gallery  {
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
	li {
		display: inline-block;
		margin-bottom: 30px;
		max-width: 100%

	}
	.cell {
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
	z-index:4;	
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	}
	.zoom {
	background: url("../images/mobilPlus-howDoesColor.png") no-repeat scroll center center;
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	transition-duration: 1s;
	width: 100%;
	z-index: 10;	
	background-size: 100% 100%;
	top: 0px;
	left: 0px;
	}
	.zoom:hover {
	opacity: 1;
	position: absolute;
	transition-duration: 1s;
	z-index: 10;	
	}
	
	div{
	text-align: center;
	position: relative;
	overflow: hidden;
	}
}
.paddingArticle{
	padding-top: 60px;
	padding-bottom: 60px;
}
.paddingArticleTop{
	padding-top: 60px;
}
.paddingArticleBottom{
	padding-bottom: 60px;
}
ul.gallery li.marginLiBottom {
	margin-bottom: 0px !important;
}
hr {
	color: F4F4F4;
	@include paddingMarginZero;
	border-width: 3px 0px 0px;
	width: 100%;
}
.bg-lightGray {
	background-color: $color-lightGray;	
}
.bg-darkGray {
	background-color: $color-secondary;	
}
.productLine {
	h4 {
		background-color: $color-primary;
		color: $color-white;
		@include headline;
	}
	.sizes {
		@include headline;
		background-color: $color-white;
		color: $color-primary;
		border: solid $color-secondary 1px;
	}
	p {
		width: 239px;
		font-size: 14px;
		margin: 0 auto;
	}
}
.boxIcon {
	width: 71px;
	height: 71px;
	float: left;
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
	h5{
	color: $color-primary;
	font-family: $font-primary;	
	font-weight: bold;
	font-size: $secondary-header-size;
	text-align: center;
/*	padding-top: 17px;*/	
		}
}
.double {
	width: 149px;
	margin: 0 auto;
}
.simple {
	width: 71px;
	margin: 0 auto;
}
.phone {
		background: url("../images/mobilPlus-phoneIcon.svg");
		margin-right: 7px;
}
.tablet {
		background: url("../images/mobilPlus-tabletIcon.svg");
}
.test {
	background: $color-secondary;
}
.navbar {
    min-height: 100px;
	background: $color-primary;
	@include opacity(0.9)
}
header .fullheight {
  background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#nav {
	z-index: 100;	
}
.navbar {
    margin-bottom: 0px;
    border: none;
}
.mainheight {
	min-height:600px;	
}
ul.navbar-nav {
	a {
	&.active {
		background-color: #fff !important;
    	color: $color-primary;
          }
		 }
		 }
.hgroup {
	width: 190px;
	height: 126px;
}
		 
@media (max-width: 768px) {
	header .fullheight {
	background: url("../images/mobilPlus-nyitokep-4.jpg");
  background-repeat: no-repeat;
  background-position: -80px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
	}
}
